:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    font-size: 14px;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-right: 10px;
}

.logo{
    background-size: cover;
    height: 2rem;
    margin-left: 18px;
    /* margin-right: -810px; */
    margin-top: 2px;
}

nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 20px; /* espaçamento entre Início, Séries, Filmes, Documentários */
}

nav a:hover{  /* cor das palavras ao passar o mouse por cima das mesmas*/
    color: rgb(255, 255, 255);
}




/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,0.50)100%), url('/Netflix2/img/capa-bb2.jpg');

    height: 700px;
    background-size:cover; /*imagem ficará do tamanho da caixa*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px; /*aumenta o espaçamento entre o título e a descrição*/
    margin-bottom: 40px;
}

.titulo{
    margin-top: 20%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serf;
}


.botao{
    background-color: rgba(0,0,0,.50);
    border: none; /* remove a formatação padrão das bordas */
    border-radius: 4px;
    color: white;

    padding: 15px 30px;
    margin-right: 15px; /*espaçamento entre os botões*/
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{ 
    background-color: white; /*muda a cor dos botões ao passar o mouse sobre eles*/
    color: black;
}

.botao i{
    margin-right: 5px; /*aumenta o espaçamento entre os ícones dos botões e texto*/
}

.container{
    margin-left: 20px;
}

.filme-principal .container{ /*neste caso, será alterada apenas a div filme-principal, não afetando o container header*/
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;  /*deixa o carrossel de filmes mais distante dos botões*/
}