@media screen and (max-width:1500px) {
    nav a {
        white-space: initial;
    }

    .container {
        margin-top: 460px;
    }
    .carrossel-filmes {
        margin-top: 140px;
    }
}

/* ------------------------------- 650px ------------------------------- */

@media screen and (max-width:670px) {
    .filme-principal {
        margin: 0px 0px 0px 0px;
    }

    .logo {
        display: flex;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    nav a {
        white-space: initial;
    }

    .container {
        margin-top: 360px;
    }
    .descricao {
        width: 400px;
        margin-bottom: 35px;
    }
    .botao {
        margin-top: 5px;
        width: 350px;
    }

    .continue {
        margin-top: 50px;
    }
    .continue img {
        height: 170px;
        width: 280px;
    }

    .carrossel-filmes {
        margin-top: 100px;
    }
    .item {
        width: 98%;
    }
}
